/* Options.css */

body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  font-family: Arial, sans-serif;
  margin-top: 3%;
}

.container {
  text-align: center;
  width: 80%;
  height: 80%;
  margin: 0 auto;
  max-width: 80%;
}

#title {
  font-size: 2em;
  margin-bottom: 10px;
  padding-bottom: 5%;
}

#subtitle {
  font-size: 1.2em;
  margin-bottom: 10%;
}

#input-container {
  position: relative;
  margin-top: 20px;
  max-width: 600px;
}

#input-field {
  width: 100%;
  font-size: 1.5em;
  padding: 10px;
  box-sizing: border-box;
  max-width: 600px;
  overflow-y: auto; /* Allow vertical scrolling when content exceeds the height */
  resize: none; /* Disable resizing */
  font-family: 'Arial', sans-serif;
}

.saved-message {
  position: absolute;
  top: 50%;
  right: -20%; /* Adjust as necessary */
  transform: translateY(-50%);
  font-size: 1em;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: space;
  width: 20%;
}

.fade {
  transition: 0.3s ease-in;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

#saved-prompt {
  padding-top: 8%;
  max-width: 600px;
}
