/* Options.css */

body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: Arial, sans-serif;
  padding-top: 50px;
}

.container {
  text-align: center;
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
}

#title {
  font-size: 2em;
  margin-bottom: 10px;
}

#subtitle {
  font-size: 1.2em;
  margin-bottom: 20px;
}

#input-container {
  position: relative;
  margin-top: 20px;
}

#input-field {
  width: 100%;
  height: 50px;
  font-size: 1.5em;
  padding: 10px;
  box-sizing: border-box;
}

.saved-message {
  position: absolute;
  top: 50%;
  right: -50px; /* Adjust as necessary */
  transform: translateY(-50%);
  font-size: 1em;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.saved-message.fade-in {
  opacity: 1;
}

.saved-message.fade-out {
  opacity: 0;
}
